Example 1

In [233]:
print("Hello World")

Hello World

Example 2

In [8]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

Example 3

In [11]:
if 5>2:
    print("Five greater than two")

Five greater than two

Example 4 with syntax error

In [14]:
if 5>2:
print("Five greater than two")

IndentationError: expected an indented block after 'if' statement on line 1 (2547166130.py, line 2)

Example 5

In [17]:
if 5 > 2:
 print("Five is greater than two")  
if 5 > 2:
        print("Five is greater than two")

Five is greater than two
Five is greater than two

Example 6 with syntax error

In [20]:
if 5>2:
    print("Five is greater than two")
        print("Five is greater than two")

IndentationError: unexpected indent (3894525104.py, line 3)

Example 7

In [235]:
x=5
y="Hello World"
print(x)
print(y)

5
Hello World

Example 8

In [26]:
#This is comment)
print("Hello World!!!")

Hello World!!!

Example 9

In [29]:
print("Hello comment") #Comment

Hello comment

Example 10

In [32]:
#print("Hello World")
print("Cheers mate")

Cheers mate

Example 11

In [35]:
#This is
# a comment
# written in
# more than one line
print("Hello people")

Hello people

Example 12

In [38]:
"""
This is a comment
written in
more than one line
without ###
"""
print("Hello multiple commets")

Hello multiple commets

Example 13

In [41]:
x=5
y="Moldyr"
print(x)
print(y)

5
Moldyr

Example 14

In [44]:
x = 4       # x is of type int
x = "Sallyy" # x is now of type str
print(x)

Sallyy

Example 15

In [51]:
x=str(3) # x will be '3'
y=int(3) # y will be 3
z=float(3)  # z will be 3.0
print(x,y,z)

3 3 3.0

Example 16

In [56]:
x=6
y="Not John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Example 17

In [59]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

Example 18

In [66]:
a=4
A="Sally"
#A will not overwrite a, becouse it is not the same thing
print(a)
print(A)

4
Sally

Example 19

In [69]:
myvar="John"
my_var="John 2x"
_my_var="John 3x"
myVar="John 4x"
MYVAR="John 5x"
myvar2="John 6x"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John 2x
John 3x
John 4x
John 5x
John 6x

 Example 20 with illegal variable names

In [111]:
2myvar = "John7x"
my-var = "John8x"
my var = "John9x"

SyntaxError: invalid decimal literal (1144648768.py, line 1)

Example 21

In [75]:
#Camel case
myVariableName = "John10x"
#Pascal case
MyVariableName = "John11x"
#Snake case
my_variable_name = "John12x"

Example 22

In [86]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

Example 23

In [81]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Example 24

In [84]:
fruits=["orange", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

orange
banana
cherry

Example 25

In [94]:
x = "Python is awesome(- _ -)"
print(x)

Python is awesome(- _ -)

Example 26

In [92]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

Example 27

In [99]:
x = "Python "
y = "is "
z = "awesome 3x"
print(x + y + z)

Python is awesome 3x

Example 28

In [102]:
x = 5
y = 10
print(x + y)

15

Example 29 with error

In [113]:
x = 5
y = "John13x"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Example 30

In [115]:
x = 5
y = "John14x"
print(x, y)

5 John14x

Example 31

In [120]:
x="awesome"

def myfunc():
    print("python is " + x)
myfunc()

python is awesome

Example 32

In [127]:
x = "awesome)"

def myfunc():
  x = "fantastic!"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic!
Python is awesome)

Example 33

In [1]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Example 34

In [11]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Example 35

In [26]:
#1
x = 5
print(x)
print(type(x))
#2
x = "Hello World"
print(x)
print(type(x)) 
#3
x = 20.5
print(x)
print(type(x))
#4
complexx = 1j
print(complexx)
print(type(complexx))
#5
listt = ["apple", "banana", "cherry"]
print(listt)
print(type(listt))
#6 Кортеж
tuplee = ("apple", "banana", "cherry")
print(tuplee)
print(type(tuplee))
#7
sett = {"apple", "banana", "cherry"}
print(sett)
print(type(sett))
#8
fsett = frozenset({"apple", "banana", "cherry"})
print(fsett)
print(type(fsett))
#9
x = range(6)
print(x)
print(type(x))
#10 Map 
dictt = {"name" : "John", "age" : 36}
print(dictt)
print(type(dictt))
#11
x = True
print(x)
print(type(x))
#12 Bytes
x = b'hello'
print(x)
print(type(x))
#13
x = bytearray(5)
print(x)
print(type(x))
#14
x = memoryview(bytes(5))
print(x)
print(type(x))
#15
x = None
print(x)
print(type(x))

5
<class 'int'>
Hello World
<class 'str'>
20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
{'apple', 'banana', 'cherry'}
<class 'set'>
frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
True
<class 'bool'>
b'hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x0000016907BE9480>
<class 'memoryview'>
None
<class 'NoneType'>

Example 36

In [32]:
#1 
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))
#2
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))
#3
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))
#4
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))
#5
x = float(1)
y = int(2.8)
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Example 37

In [37]:
import random 
print(random.randrange(1,10))

9

Example 38

In [40]:
#1
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)
#2
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)
#3
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

1
2
3
1.0
2.8
3.0
4.2
s1
2
3.0

Example 39

In [43]:
#1
print("Hello")
print('Hello')
#2
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')
#3
a = "Hellooooo"
print(a)
#4
a = """This is my
first laboratory work
in second semester"""
print(a)

Hello
Hello
It's alright
He is called 'Johnny'
He is called "Johnny"
Hellooooo
This is my
first laboratory work
in second semester

Example 40

In [46]:
a = "Hello, World!"
print(a[1])

e

Example 41

In [49]:
for x in "banana":
    print(x)

b
a
n
a
n
a

Example 42

In [52]:
a = "Hello, World!"
print(len(a))

13

Example 43

In [55]:
txt = "The best things in life are free!"
print("free" in txt)

True

Example 44

In [58]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Example 45

In [61]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Example 46

In [64]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Example 47

In [67]:
b = "Hello, World!"
print(b[2:5])

llo

Example 48

In [70]:
b = "Hello, World!"
print(b[:5])

Hello

Example 49

In [73]:
b = "Hello, World!"
print(b[2:])

llo, World!

Example 50

In [76]:
b = "Hello, World!"
print(b[-5:-2])

orl

Example 51

In [79]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Example 52

In [82]:
a = "Hello, World!"
print(a.lower())

hello, world!

Example 53

In [92]:
a = " Hello, World! "
print(a.strip())

Hello, World!

Example 54

In [96]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Example 55

In [101]:
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

Example 56

In [104]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Example 57

In [107]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Example 58 with error

In [111]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

Example 59

In [114]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

Example 60

In [120]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

Example 61

In [123]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

Example 62

In [127]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Example 63 with error

In [130]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

Example 64

In [133]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Example 65

In [152]:
#1
txt = 'It\'s alright.'
print(txt)
#2
txt = "This will insert one \\ (backslash)."
print(txt) 
#3
txt = "Hello\nWorld!"
print(txt) 
#4
txt = "Hello\rWorld!"
print(txt) 
#5
txt = "Hello\tWorld!"
print(txt) 
#6
txt = "Hello \bWorld!"
print(txt) 
#7
txt = "\110\145\154\154\157"
print(txt) 
#8
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
HelloWorld!
Hello
Hello

Example 66 Methods

In [165]:
#1
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

In [157]:
#2
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

In [159]:
#3
txt = "banana"
x = txt.center(20)
print(x)

       banana

In [161]:
#4
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [163]:
#5
txt = "My name is Ståle"
x = txt.encode()
print(x)

b'My name is St\xc3\xa5le'

In [167]:
#6
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

In [169]:
#7
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

H e l l o

In [171]:
#8
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [173]:
#9
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [175]:
#10
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [177]:
#11
txt = "Company12"
x = txt.isalnum()
print(x)

True

In [179]:
#12
txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [181]:
#13
txt = "Company123"
x = txt.isascii()
print(x)

True

In [183]:
#14
txt = "1234"
x = txt.isdecimal()
print(x)

True

In [185]:
#15
txt = "50800"
x = txt.isdigit()
print(x)

True

In [187]:
#16
txt = "Demo"
x = txt.isidentifier()
print(x)

True

In [189]:
#17
txt = "hello world!"
x = txt.islower()
print(x)

True

In [191]:
#18
txt = "565543"
x = txt.isnumeric()
print(x)

True

In [193]:
#19
txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

True

In [195]:
#20
txt = "   "
x = txt.isspace()
print(x)

True

In [197]:
#21
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

True

In [199]:
#22
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

True

In [201]:
#23
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [203]:
#24
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [205]:
#25
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

hello my friends

In [207]:
#26
txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [209]:
#27
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [211]:
#28
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [213]:
#29
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

I like apples

In [215]:
#30
txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [217]:
#31
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

In [221]:
#32
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

True

In [223]:
#33
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [225]:
#34
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

hELLO mY nAME iS peter

In [227]:
#35
txt = "Welcome to my world"
x = txt.title()
print(x)

Welcome To My World

In [229]:
#36
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [231]:
#37
txt = "50"
x = txt.zfill(10)
print(x)

0000000050